body
{
background-color: white;
text-align:center;
margin: 0 auto;
padding: 0;
}

#content
{
display: inline-block;
height: 100%;
}

#header, #footer, #aside, #large, #small, .onethird, .twothirds
{
background-color: #eaeaea;
}

#header
{
margin-top: 60px;
height: 95px;
}

.round
{
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
behavior: url(border-radius.htc);
border-radius: 20px;
}

.main, #aside
{
margin-top: 30px;
}

.main
{
width: 730px;
}

#article, #aside
{
float: left;
}

#large
{
height: 685px;
}

#small 
{
height: 140px;
}

#medium
{
height: 200px;
}

#extrasmall
{
height: 50px;
}

.onethird
{
width: 250px;
display: inline-block;
height: 100%;
float: left;
}

.twothirds
{
width: 460px;
display: inline-block;
height: 100%;
float: left;
}

#medium .onethird, #extrasmall .twothirds, #aside
{
margin-left: 20px;
}



#aside
{
width: 220px;
height: 850px;
}

#graymatter
{
width: 180px;
text-align:center;
margin: 0 auto;
}

.horizontal, .vertical
{
background-color: #8d8d8d;
}

.horizontal, .vertspace
{
margin-top: 20px;
}

.horizontal
{
height: 55px;
}

.vertspace
{
width: 180px;
}

.vertical
{
float: left;
width: 70px;
height: 110px;
margin-left: 10px;
margin-right: 10px;
}



#footer
{
height: 75px;
margin-top: 30px;
margin-bottom: 50px;
border: 2px solid #e1e1e1;
border-width: 2px 0 2px 0;
}
