@font-face
{
font-family: YanoneKaffeesatz;
src: url('YanoneKaffeesatz-Regular.ttf');
}

@font-face
{
font-family: YanoneKaffeesatz;
src: url('YanoneKaffeesatz-Bold.ttf');
font-weight: bold;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------*/

body
{
background-image: url('images/pattern.png');
text-align:center;
margin: 0 auto;
font-family: Tahoma, Geneva, Kalimati, sans-serif;
font-size: 14px;
line-height: 21px;
}

#container
{
width: 1078px;
margin: 0 auto;
text-align: left;
}

#top
{
overflow: hidden;
}

#left
{
float: left;
background-image: url('images/side_background.png');
background-repeat: repeat-y;
width: 285px;
color: #f4f2ea;
display: block;
}

#leftcontent
{
width: 235px;
margin-left: 15px;
}

#logo
{
text-align: center;
padding-top: 51px;
padding-bottom: 55px;
}

.hordivider
{
clear:both;
background-image: url('images/divider.png');
background-repeat: repeat-x;
height: 7px;
}

#search
{
padding-top: 22px;
padding-bottom: 26px;
}

#searchform
{
  background: rgba(0,0,0,0.1);
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    padding: 2px 15px 2px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
width: 210px;
margin-left: 2px;
}

#searchbutton
{
margin-right: -10px;
background: url('images/search.png');
background-repeat: no-repeat;
background-position: center;
border: 0;
width: 30px;
height: 20px;
}

#darksearch
{
background-color: transparent;
border: 0;
}

#nav, #cat, #tweets, #social, #followspace
{
margin-top: 24px;
}

#nav
{
padding-bottom: 16px;
}


#tweets
{
padding-bottom: 20px;
}

ul.navigate li
{
background-image: url('images/button.png');
background-repeat: no-repeat;
background-position: left center;
padding-left: 21px;
line-height: 38px;
margin-left: 4px;
border-bottom: 1px solid #302e2a;
border-top: 1px solid #69665f;
text-transform: uppercase;
}

ul.navigate li.first
{
border-top: 0;
margin-top: -4px;
}

ul.navigate li.last
{
border-bottom: 0;
}

h3
{
font-weight: bold;
padding-bottom: 5px;
margin-left: 1px;
letter-spacing: -1px;
}

#catlist
{
margin-top: 10px;
overflow: hidden;
padding-bottom: 20px;
margin-left: 2px;
}

ul.categories li
{
letter-spacing: -1px;
font-size: 12px;
width: 116px;
float: left;
line-height: 40px;
}

span
{
font-size: 12px;
color: #8b8b8a;
margin-left: 5px;
}

#tweets h3
{
margin-left: 3px;
margin-top: -1px;
margin-bottom: 3px;
}


.tweet
{
width: 230px;
font-size: 12px;
padding-top: 10px;
margin-left: 1px;
padding-bottom: 10px;
border-top: 1px solid #33312d;
border-bottom: 1px solid #636059;
letter-spacing: -1px;
}

.tweet a
{
text-decoration: none;
color: #dbba34;
display: inline;
clear: none;
}

.tweet p
{
display: inline;
}

.first
{
border-top: 0;
}

.last
{
border-bottom: 0;
}

#social
{
text-align: justify;
}

#social h3
{
margin-left: 2px;
margin-top: -3px;
}

#social img
{
padding-left: 3px;
margin-top: 16px;
}

#social
{
padding-bottom: 25px;
}

#followspace
{
margin-top: 22px;
}

#followimages
{
margin-top: 15px;
margin-right: -15px;
}

#followspace img
{
width: 60px;
height: 60px;
float: left;
margin-right: 15px;
margin-bottom: 15px;
border: 4px solid white;
}

.hidden
{
visibility: hidden;
}

#right
{
float: left;
width: 680px;
background-image: url('images/divider_vertical.png'), url('images/divider_right.png');
background-repeat: repeat-y;
background-position: left, right;
}

#bottom
{
clear: both;
}

#quote
{
margin-top: 55px;
margin-left: 33px;
padding-bottom: 47px;
background-image: url('images/pedinas.png');
background-repeat: no-repeat;
background-position: 0 4px;
width: 580px;
height: 63px;
overflow: hidden;
}

#quote h2
{
padding-left: 31px;
font-size: 18px;
color: #555149;
}

.nivoSlider {
    position:relative;
    /*background:url(images/loading.gif) no-repeat 50% 50%;*/
    /*Ja es izdomāšu, ka man vajag briesmīgu ripuli fonā, uzlikšu atpakaļ*/
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    height: 353px;
}
.nivoSlider a {
    border:0;
    display:block;
}

#slider
{
height: 353px;
width: 668px;

}

#slide
{
height: 370px;
background-image: url('images/shadow.png');
background-position: 330px 352px;
background-repeat: no-repeat;
}

#slider img
{
position: relative;
z-index: -1;
}

#slidebuttons
{
margin-top: -6px;
}

#slidebuttons img
{
margin-right: 8px;
}

#maincontent
{
width: 678px;
margin-left: 12px;
}

#mainsub
{
width: 595px;
margin-left: 30px;
}

#featured
{
padding-top: 17px;
}


h1
{
font-family: YanoneKaffeesatz, sans-serif;
font-size: 36px;
color: #555149;
font-weight: bold;
padding-top: 34px;
padding-bottom: 30px;
border-bottom: 1px solid #a8a6a1;
text-transform: uppercase;
}

#featspace
{
padding-top: 30px;
display: inline-block;
border-top: 1px solid #fefefd;
border-bottom: 1px solid #aaa8a3;
padding-bottom: 8px;
}

.feat
{
width: 282px;
}

.feat.left
{
float: left;
}

.feat.right
{
float: right;

}

.feat img, .recpost img
{
border: 4px solid white;
-webkit-box-shadow: 0 0 2px 2px #a6a49f;
    -moz-box-shadow: 0 0 2px 2px #a6a49f;
    box-shadow: 0 0 2px 2px #a6a49f;
}

.feat img
{
width: 274px;
height: 212px;
}

.feat p, .recpost p
{
color: #555149;
line-height: 21px;
}

.feat p
{
padding-top: 18px;
padding-left: 3px;
}

.rm
{
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
-khtml-border-radius: 25px;
border-radius:25px;
behavior: url(border-radius.htc);
border-radius: 25px;
border: 3px solid #d8d7cf;
/*padding: 8px 16px 9px 15px;*/
width: 135px;
height: 43px;
font-size: 16px;
text-transform: uppercase;
color: #555149;
background-image: url('images/button_gradient.png');
background-color: white;
margin-top: 15px;
margin-bottom: 24px;
}


#pagemenu
{
padding-top: 24px;
padding-bottom: 20px;
border-top: 1px solid #fefefd;
border-bottom: 1px solid #aaa8a3;
}

#pagemenu a
{
text-decoration: none;
color: white;
}

ul#pages
{
overflow: hidden;
}

ul#pages li
{
float: left;
margin-right: 10px;
padding: 4px 8px 6px 10px;
color: #555149;
text-transform: uppercase;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius:5px;
behavior: url(border-radius.htc);
border-radius: 5px;
}

ul#pages li.postactive
{
background-color: #555149;
background-image: url('images/button_middle.png');
background-position: center;
background-repeat: no-repeat;
}

ul#pages li  a
{
font-size: 14px;
color: #555149;
}

ul#pages li.postactive a
{
color: #fefefe;
}

#pagespace
{
clear: both;
padding-top: 22px;
border-top: 1px solid #fefefd;
padding-bottom: 118px;
}

.box
{
height: 63px;
overflow: hidden;
}

.tab_content
{
display: none;
}

#tab1
{
display: block;
}

.recpost
{
overflow: hidden;
padding-bottom: 25px;
}

.recpost img
{
margin-top: 3px;
margin-left: 3px;
float: left;
width: 114px;
height: 86px;
}

.recpost .postinfo
{
width: 470px;
float: left;
}

.recpost p
{
margin-top: 2px;
padding-left: 16px;
}

.readsimple
{
margin-top: 14px;
float: right;
background-color: transparent;
border: 0;
color: #555149;
background-image: url('images/arrow.png');
background-repeat: no-repeat;
background-position: right center;
padding-right: 20px;
margin-right: 11px;
font-size: 14px;
}

#bottom
{
background-image: url('images/footer.png');
background-repeat: repeat-x;
overflow: hidden;
padding-bottom: 20px;
}

#bottcont
{
margin-left: 13px;
margin-top: 35px;
}

.bottomcol
{
float: left;
width: 280px;
margin-right: 35px;

}

.bottomcol#lastone
{
width: 350px;
margin-left: -4px;
}

.bottomcol h3
{
font-size: 15px;
color: white;
font-weight: normal;
letter-spacing: 0;
}

.bottomcol p
{
margin-top: 12px;
margin-left: 1px;
color: #909090;
}

#postspace
{
margin-top: 1px;
}

.bottomcol a.link
{
display: inline-block;
width: 282px;
color: #bab290;
padding-top: 11px;
padding-bottom: 10px;
border-bottom: 1px solid #3c3a32;
}

.bottomcol a.link.last
{
border-bottom: 0;
}

#photospace
{
margin-top: 13px;
}

.bottomcol img
{
border: 2px solid white;
float: left;
width: 75px;
height: 73px;
margin-right: 23px;
margin-bottom: 24px;
}

#footer
{
padding-top: 45px;
clear: both;
overflow: hidden;
}

#footer p
{
padding-left: 17px;
}

#footer p, #footer a
{
font-size: 12px;
color: #909090;
}

#footer a
{
background-image: url('images/triangle.png');
background-repeat: no-repeat;
background-position: right;
margin-right: 154px;
padding-right: 15px;
margin-top: -23px;
float: right;
}