@font-face {
    font-family: 'YanoneKaffeesatz';
    src: url('fonts/YanoneKaffeesatz-Light-webfont.eot');
    src: url('fonts/YanoneKaffeesatz-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'),
         url('fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'),
         url('fonts/YanoneKaffeesatz-Light-webfont.svg#YanoneKaffeesatzLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('fonts/YanoneKaffeesatz-Regular-webfont.eot');
    src: url('fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
         url('fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
         url('fonts/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
background-color: #282d34;
background-image: url('images/pattern.png');
text-align:center;
margin: 0 auto;
}

img, input
{
border: 0;
}

#container
{
width: 1020px;
margin: 0 auto;
text-align: left;
}

#header
{
margin-top: 30px;
}

#social
{
margin-right: 40px;
float: right;
}

#social img
{
float: right;
}

#logo
{
width: 152px;
float: left;
margin-top: 30px;
margin-left: 37px;
}

#headdescr
{
width: 695px;
margin-left: 100px;
float: left;
margin-top: 15px;
}


h2, h3, h4, #nav li, #hireroute li
{
font-family: YanoneKaffeesatz, sans-serif;
color: #b8c0cb;
}

h2
{
font-size: 23px;
font-weight: 500;
}

#arrows
{
margin-top: -10px;
}

#leftarrow
{
float: left;
background-image:  url('images/arrow.png');
background-repeat: no-repeat;
height: 12px;
width: 20px;
}

#rightarrow
{
float: left;
margin-left: 3px;
background-image:  url('images/arrow_right.png');
background-repeat: no-repeat;
height: 12px;
width: 20px;
}


#topnav
{
margin-top: 25px;
width:975px;
display: inline-block;
margin-bottom: -15px;
margin-left: 2px;
}


ul
{
list-style-type: none;
}

#mainnav li, #hireroute li
{
font-size:  18px;
float: left;
padding-top: 20px;
padding-bottom: 30px;
margin-right: 24px;
}

#mainnav
{
float: left;
}

#mainnav li.active, #hireroute li.active, #pages li
{
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
border-radius:8px;
/*behavior: url('border-radius.htc');*/
border-radius: 8px;
}

#mainnav li.active
{
color: #996600;
background-color: #ffe222;
background-image:  url('images/gradient.png'), url('images/buttpattern.png');
background-repeat: repeat-x, repeat;
background-position: bottom, top;
padding-right: 18px;
padding-left: 18px;
}

#hireroute
{
float: right;
margin-right: -27px;
}

#hireroute li.active
{
color: #336600;
background-color: #c2ee77;
background-image: url('images/gradient.png'), url('images/hirebuttpattern.png');
background-repeat: repeat-x, repeat;
background-position: bottom, top;
padding-right: 18px;
padding-left: 18px;
}

#overlap
{
background-image: url('images/jagger.png');
background-repeat: repeat-x;
height: 15px;
margin-top: -15px;
position: relative;
}

#main
{
background-color: #fbfaf7;
text-align:center;
margin: 0 auto;
}

#maintop
{
display: inline-block;
width: 1020px;
}

#pages
{
margin-left: -22px;
padding-top: 4px;
}

#pages li, p, h4, h5, .grey
{
font-family: Arial, Helvetica, Tahoma, sans-serif;
}

ul#pages
{
margin-left: -6px;
}

#pages li
{
color: #51565b;
font-size: 12px;
float: left;
margin-right: 8px;
margin-top: 4px;
padding: 6px;
padding: 6px 11px 6px 11px;
}

#pages li.notactive
{
background-image: url('images/lightpattern.png');
margin-left: 8px;
}

#pages li.active
{
color: white;
background-color: #282d34;
background-image: url('images/pattern.png');
}

#searchbutt
{
float: right;
padding-right: 40px;
margin-top: -45px;
}

#search
{
float: right;
background: url('images/search.png') no-repeat 260px 3px #f0ede5;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 253px;
   padding: 0 40px 0 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-shadow: 0 2px 3px #cccac3;
    -webkit-box-shadow: 0 1px 3px #cccac3 inset;
    box-shadow: 0 1px 3px #cccac3 inset;
}

.lightsearch
{
width: 230px;
background-color: #f0ede5;
border: 0;
}

#artspace
{
clear: both;
margin-top: 25px;
width: 960px;
display: inline-block;
padding-bottom: 20px;
}

.article, .grey
{
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius:5px;
/*behavior: url(border-radius.htc);*/
border-radius: 5px;
}

.article
{
float: left;
width: 300px;
margin-left: 14px;
margin-bottom: 20px;
background-color: white;
background-image: url('images/lightpattern.png');
-webkit-box-shadow: 0 0 3px 3px #e8e7e5;
box-shadow: 0 0 3px 3px #e8e7e5;
}

.prodpic
{
margin-top: 12px;
width: 300px;
height: 182px;
}

.proddescr
{
background-color: white;
text-align: left;
padding-left: 10px;
padding-right: 10px;
margin-top: 25px;
height: 160px;
}

h3
{

padding-top: 13px;
color: #282d34;
font-size: 20px;
font-weight: 600;
}

.proddescr p
{
font-size: 14px;
color: #7a7e83;
margin-top: -10px;
line-height: 21px;
height: 60px;
overflow: hidden;
}

p.datetime
{
font-size: 10px;
margin-top: 30px;
margin-left: 2px;
}

.more
{
background-image: url('images/more.png');
height: 32px;
background-position: bottom right;
background-repeat: no-repeat;
margin-top: -78px;
margin-right: -10px;
}

#overlapbottom
{
background-image: url('images/jaggerbottom.png');
background-repeat: repeat-x;
height: 27px;
}

#hirespace
{
/*display: table;*/
overflow: hidden;
/*margin-top: -15px;*/
}


.hirecol
{
float:left;  
}

#hireleft
{
width: 439px;
/*display: table-cell;*/
padding-left: 44px;
padding-right: 30px;
border-right: 1px solid #181b20;
display: inline-block;
}

#hireme
{
margin-top: -15px;
}

h2.hire, #hireleft h3, h4
{
color: #b0c4e1;
}

h2.hire, #hireleft h3
{
font-family: YanoneKaffeesatzRegular;
}

h2.hire
{
font-size: 48px;
}

#hireleft h3
{
margin-top: -15px;
margin-bottom: 0;
font-size: 20px;
font-weight: 200;
}

h4
{
font-size: 14px;
float: right;
margin-top: -72px;
margin-right: 127px;
font-style: italic;
font-weight: normal;
}

p.htext, h5
{
color: #d9e2ef;
font-size: 14px;
}

p.htext
{
width: 440px;
line-height: 24px;
margin-bottom: 25px;
margin-top: 10px;
}

#skillspace
{
overflow: hidden;
margin-top: -13px;
}

#skills
{

}


h5
{
overflow: hidden;
float: left;
text-transform: uppercase;
font-weight: normal;
line-height: 16px;
padding:0;
margin-top: 13px;
margin-left: 10px;
}

.selfrate
{
float: right;
margin-top: 12px;
margin-right: 12px;
}

.selfrate img
{
width: 13px;
margin-left: -3px;
}

.skill
{
border-bottom: 1px solid #181b20;
border-top: 1px solid #343a41;
clear: both;
overflow: hidden;
height: 38px;
}

#first
{
margin-top: 3px;
border-top: 0;
}

#last
{
border-bottom: 0;
}


#hireright
{
/*display: table-cell;*/
width: 422px;
padding-left: 25px;
padding-right: 50px;
padding-top: 110px;
padding-bottom: 115px;
border-left: 1px solid #343a41;
display: inline-block;
}


form
{
margin-top: 30px;
width: 440px;
}

.in
{
width: 250px;
float: left;
}

.grey
{
background-color: #282d34;
border: none;
color: white;
font-size: 12px;
padding: 5px;
}

.formtext
{
width: 210px;
height: 20px;
padding-left: 15px;
margin-bottom: 20px;
}

textarea.grey
{
width: 415px;
height: 118px;
resize: none;
margin-top: -50px;
padding-left: 15px;

}

.errbox
{
float: right;
margin-top: -50px;
width: 200px
}

.errbefore
{
background: url('images/error_front.png'), url('images/error_back.png');
background-repeat: no-repeat, no-repeat;
background-position: left, right;
height: 30px;
width: 168px;
padding-left: 30px;
margin-top: -53px;
margin-bottom: 75px;
margin-left: -7px;
}

.error
{
background: url(images/error_middle.png) repeat-x;
font-size: 12px;
color: white;
height: 30px;
overflow: hidden;
width: 165px;
}

.error p
{
color: white;
font-size: 12px;
margin-top: 8px;
margin-left: 7px;
width: 150px;
overflow: hidden;
line-height: 18px;
}

.sendbutton
{

background-image: url('images/sendb_bg.png');
background-repeat: repeat-x;
height: 30px;
width: 80px;
float: right;
margin-top: 25px;
color: white;
border: none;
-webkit-border-radius: 3px;
 border-radius: 3px;
border: 1px solid #252a31;
}

#footer
{
clear: both;
background-color: #1c1f24;
background-image: url('images/pattern.png');
height: 55px;
margin-top: -13px;
}

#footer p
{
font-size: 14px;
color: #c6d1dc;
padding-top: 20px;
padding-left: 41px;
}

#totop
{
text-align: right;
background-image: url('images/to_top.png');
background-repeat: no-repeat;
background-position: right;
padding-right: 35px;
margin-top: -38px;
padding-top: 10px;
margin-right: 45px;
height: 25px;
}

#totop a
{

font-size: 11px;
color: #d9e2ef;
text-decoration: none;
font-style: italic;
}
