@font-face {
    font-family: 'ArvoRegular';
    src: url('fonts/Arvo-Regular-webfont.eot');
    src: url('fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-Regular-webfont.woff') format('woff'),
         url('fonts/Arvo-Regular-webfont.ttf') format('truetype'),
         url('fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoBold';
    src: url('fonts/Arvo-Bold-webfont.eot');
    src: url('fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-Bold-webfont.woff') format('woff'),
         url('fonts/Arvo-Bold-webfont.ttf') format('truetype'),
         url('fonts/Arvo-Bold-webfont.svg#ArvoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------*/
html
{
background-image: url('images/bg_top.png');
background-position: top;
background-repeat: repeat-x;
background-color: #efece8;
}

body
{
background-image: url('images/bg_bottom.png');
background-position: bottom;
background-repeat: repeat-x;
text-align:center;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
line-height: 19px;
margin: 0 auto;
}

#container
{
margin: 0 auto;
width: 1100px;
text-align: center;
}

.subcontainer
{
width: 980px;
margin: 0 auto;
text-align: left;
}

#header
{
overflow: hidden;
padding-bottom: 51px;
}

#top
{
padding-top: 30px; 
overflow: hidden;
padding-bottom: 61px;
}

#logo
{
float: left;
padding-left: 1px;
margin-top: -1px;
}

#menu ul, #texthold h2, h1, #additional h2, .day, .post h3
{
font-family: ArvoBold, Georgia, serif;
text-transform: uppercase;
}

#menu ul
{
float: right;
color: white;
margin-top: 30px;
}

#menu ul li
{
float: left;
margin-left: 17px;
}

#menu ul li.active
{
color: #fee271;
border-bottom: 5px solid #fee271;
}

#slider
{
clear: both;
overflow: hidden;
}

#pichold
{
float: left;
width: 630px;
}

#pichold img
{
width: 620px;
height: 352px;
border: 10px solid #2d333a;
}

#texthold
{
margin-top: 7px;
width: 270px;
float: left;
margin-left: 50px;
color: white;
}

#texthold h2
{
width: 250px;
font-size: 21px;
padding-bottom: 15px;
line-height: 29px;
margin-left: -2px;
}

#texthold p, #texthold a
{
font-size: 16px;
}

#texthold p
{
line-height: 24px;
padding-bottom: 23px;
}

#texthold a
{
text-decoration: none;
color: #fee271;
}

#slidebuttons
{
height: 19px;
float: right;
margin-top: 6px;
margin-right: -14px;
}

.slidebutt
{
display: inline-block;
height: 10px;
width: 10px;
border: 0;
background-color: transparent;
background-image: url('images/slide_button.png');
background-repeat: no-repeat;
}

.slidebutt.act
{

background-image: url('images/slide_button_act.png');
background-repeat: no-repeat;
}

#maincont
{
width: 1090px;
background-image: url('images/corner.png');
background-position: 1036px 0;
background-repeat: no-repeat;
text-align: center;
margin: 0 auto;
}

#main
{
width: 980px;
clear: both;
background-color: #f1f1f1;
margin: 0 auto;
border: 1px solid #d5d2cf;
border-top: 1px solid #8a8d90;
text-align: left;
position: relative;
}

#maindivtop
{
background-image: url('images/pattern.png');
background-repeat: repeat-x;
height: 24px;
}

#maindivbottom
{
background-image: url('images/pattern_bottom.png');
background-repeat: repeat-x;
height: 24px;
}

h1
{
font-size: 48px;
line-height: 50px;
text-align: center;
color: #3b424b;
margin-top: 21px;
margin-bottom: 46px;
padding-right: 22px;
/*Es lapbrātāk atstātu to centrētu*/
}

#featured
{
overflow: hidden;
padding-bottom: 35px;
border-bottom: 1px solid #d8d8d8;
}

.feat
{
width: 300px;
float: left;
margin-left: 20px;
margin-bottom: 29px;
}

.feat img
{
width: 280px;
height: 177px;
border: 10px solid #f3f3f3;
-webkit-box-shadow: 0 0 2px 2px #e3e3e3;
-moz-box-shadow: 0 0 2px 2px #e3e3e3;
box-shadow: 0 0 2px 2px #e3e3e3;
}

.feat h3
{
padding-top: 8px;
color: #444444;
font-size: 18px;
line-height: 30px;
}

.feattext 
{
height: 60px;
overflow: hidden;
padding-top: 4px;
margin-left: -1px;
}

.feat p
{
color: #888888;
}

#featured button, .month, .year
{
font-family: ArvoRegular, Georgia, serif;
}

#featured button
{
background-color: #3b424b;
color: #fee271;
border:0;
float: right;
padding: 11px 14px 9px 11px;
margin-top: 4px;
margin-right: 20px;
}

#additional
{
margin-top: 47px;
clear: both;
overflow: auto;
padding-bottom: 24px;
}

#additional h2
{
margin-left: 10px;
font-size: 21px;
color: #3b424b;
overflow: hidden;
}

#blogentries
{
width: 320px;
margin-right: 10px;
float: left;
}

#entryspace
{
margin-top: 52px;
}

.entry
{
margin-bottom: 24px;
overflow: hidden;
height: 98px;
}

.datespace
{
display: block;
background-image: url('images/blog_corner.png');
background-position: bottom left;
background-repeat: no-repeat;
padding-bottom: 15px;
width: 71px;
float: left;
position: absolute;
left: -17px;
}

.date
{
display: block;
background-color: #3b424b;
color: #fee271;
padding-left: 23px;
padding-top: 12px;
padding-bottom: 11px;
}

.date, .month, .year
{
display: block;
}

.day
{
font-size: 21px;
}

.month, .year
{
text-transform: uppercase;
}

.month
{
font-size: 14px;
line-height: 17px;
}

.year
{
font-size: 12px;
line-height: 14px;
}

.post
{
float: left;
width: 250px;
margin-left: 72px;
}

.post h3
{
font-size: 14px;
padding-bottom: 3px;
}

.post p
{
color: #888888;
margin-top: 1px;
margin-left: 4px;
}

#testimonials
{
float: left;
width: 630px;
}

#testimonialspace
{
margin-top: 28px;
}

.tm
{
width: 620px;
margin-left: 10px;
}

.testtext
{
padding: 17px 20px 20px 20px;
background-color: white;
border: 1px solid #e1e1e1;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

.testtext p
{
padding-top: 10px;
padding-bottom: 15px;
font-size: 21px;
color: #444444;
font-style: italic;
line-height: 24px;
}

.spike
{
background-image: url('images/baloon_spike.png');
height: 20px;
background-position: 199px  0;
background-repeat: no-repeat;
margin-top: -1px;
}

.tmby
{
font-size: 13px;
margin-left: 241px;
margin-top: -11px;
}

span.name
{
color: #444444;
}

span.job
{
color: #888888;
}

#footer
{
clear: both;
padding-top: 50px;
}

#fcolumns
{
overflow: hidden;
padding-bottom: 50px;
margin-top: -15px;
}

.footcol#lastcol
{
width: 240px;
}

.footcol
{
width: 220px;
float: left;
margin-left: 20px;
}



.footcol img
{
width: 55px;
height: 55px;
border: 3px solid #f0f0f1;
float: left;
margin-right: 19px;
margin-bottom: 20px;
}

.footcol h3
{
font-weight: bold;
color: white;
margin-bottom: 28px;
text-transform: uppercase;
}

.footcol p
{
font-size: 11px;
line-height: 16px;
color: #888888;
line-height: 16px;
padding-right: 2px;
}

.footcol a
{
text-decoration: none;
color: #fee271;
font-size: 11px;
}

.twittwid
{
background-image: url('images/birdy.png');
background-repeat: no-repeat;
background-position: 3px 2px;
padding-left: 27px;
margin-bottom: 24px;
padding-right: 5px;
}

.footcol .twittwid a
{
padding-right: 3px;
float: left;
line-height: 16px;
}

#textspace
{
height: 130px;
overflow: hidden;
}

.recpost
{
overflow: hidden;
clear: left;
height: 80px;
}

.recpostinfo
{
margin-left: -10px;
width: 150px;
float: left;
}

.recpostinfo p
{
margin-top: -2px;
}

span.time
{
color: #cccccc;
font-size: 11px;
}

#mainfoot
{
clear: both;
overflow: hidden;
padding-top: 23px;
padding-bottom: 75px;
}

#copyright
{
float: left;
font-size: 11px;
color: white;
margin-left: 19px;
margin-top: 48px;
}



#social
{
float: right;
margin-top: 41px;
margin-right: 5px;
}

#social img
{
margin-right: 15px;
}
